<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Li West Links</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %} type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

</head>
<body>

 <div class="logo">
        <img src="img/logo.png" alt="Ли Вест" width="240px" height="auto">
 </div>

{% block content %}


 {% endblock %}

</body>
</html>